/* Google Material Palette: Blue (#2196F3) */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Marvel', sans-serif;
  font-weight: bold;
  cursor: default;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

a {
  color: #2196F3;
  text-decoration: none;
  border-bottom: 1px solid #2196F3;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

a:hover {
  background-color: #E3F2FD;
}

a:active {
  background-color: #BBDEFB;
}

a.plain {
  color: inherit;
  border-bottom: none;
}

a.plain:hover {
  background-color: inherit;
  color: #666;
}

a.plain:active {
  background-color: inherit;
}

blockquote {
  border-left: #BBDEFB 5px solid;
  margin-left: 0;
  margin-right: 0;
  color: #333;
  padding: .5rem .5rem .5rem 2em;
  background-color: rgba(227, 242, 253, .3);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-style: italic;
}

blockquote cite {
  display: block;
  cursor: default;
}

blockquote cite::before {
  display: inline;
  content: 'ÃƒÂ¢Ã¢â€šÂ¬Ã¢â‚¬Â ';
}

abbr {
  cursor: help;
  border-bottom: dotted 1px #ddd;
  -webkit-transition: border-color .2s;
  -o-transition: border-color .2s;
  transition: border-color .2s;
}

abbr:hover {
  border-bottom-color: #777;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid rgba(187, 222, 251, .2);
  border-collapse: collapse;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: rgba(227, 242, 253, .2);
}

td,
th {
  padding: .5rem .5rem;
  border: 1px solid rgba(187, 222, 251, .2);
}

th {
  cursor: default;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 3px;
}

.gist .markdown-body {
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.gist .markdown-body {
  padding: 15px;
}

.highlight > pre,
code {
  font-family: 'Source Code Pro', 'Consolas', monospace;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding-left: .5em;
  padding-right: .5em;
}

code {
}

.highlight pre {
  position: relative;
  padding-top: 2.5rem; /* 2rem for language absolute el, .5rem for spacing */
  padding-bottom: .5em;
  overflow: auto;
}

.highlight pre code {
  width: 100%;
  display: block;
  padding: 0;

  white-space: pre-wrap;                 /* CSS3 browsers  */
	white-space: -moz-pre-wrap !important; /* 1999+ Mozilla  */
	white-space: -pre-wrap;                /* Opera 4 thru 6 */
	white-space: -o-pre-wrap;              /* Opera 7 and up */

  word-wrap: break-word;                 /* IE 5.5+ and up */
}

.highlight pre code::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  /* content: attr(data-lang); */

  display: block;
  padding: 0 5px;
  line-height: 2rem;

  background-color: #2196F3;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

/* main header */
body > header {
  margin-bottom: 1rem;
}

body > header h1 {
  font-size: 3rem;
  margin: 0;
}

body > header a {
  text-decoration: none;
  border-bottom: 0;
  color: inherit;
  font-weight: bold;
}

body > header a:hover {
  background-color: inherit;
}

body > header a:active {
  background-color: inherit;
}

body > header p {
  font-size: .9rem;
  margin: 0;
}

body > header .title,
body > header nav {
  display: inline-block;
  vertical-align: middle;
}

body > header nav {
  margin-left: 2rem;
}

body > header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body > header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

body > article {
}

body > footer {
  font-size: .7rem;
  line-height: 2rem;

  padding: 0 1rem;

  text-align: center;

  margin-top: 3rem;
}

body > footer hr {
  width: 50%;
  border: 1px solid #E3F2FD;
  margin-top: 0;
  margin-bottom: 0;
}

#page {
}

#posts {
  list-style: none;
}

#posts li > div {
  margin-bottom: 1rem;
}

#posts li > div h2 {
  margin-bottom: 0;
  display: inline;
}

#posts .post-title {
  /* font-weight: bold; */
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

#posts time {
  font-size: 1.3rem;
}

#posts .comments-count {
  padding-left: 20px;
  margin-left: .5rem;
  background-repeat: no-repeat;
  /* Entypo conversation icon */
  background-position-y: 0.2em;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAAA4ElEQVQoU6XSL0uDURTH8c8Q8xCXDIa9AY0ixjWLzWR1GIT5LhTbljTKwnwBLs1ksYjgWxgKFpNMsChHno2HcS88D950uef3+54/9zSkzxom2MJKRjPDRSMTPMJNJlZ+/soBjnFVAWAOWEezMHzioA6gj9NStiEe6gC+sfofwM9Sr3Uq+IgZpAAj9BJD3EYLr3hBPwWI/gcJ81PR6j3u0A1NCpD7vTBcYxOHuJwDopyNCn++j3GhWySOyx5OsIM2pnhcAj7jPDGvxSKFPjZvFx28V6joT1Je5TPc4q2qOXS/nF0qtLr6LKoAAAAASUVORK5CYII=);
  /* border-left: 1px solid black; */
}

#post {
    position: relative;
}

#post header {
    cursor: default;
}

#post .post-info {
  min-width: 25%;
  width: 80%;
  text-align: center;
  margin: 0 auto 3rem;
}

#post .post-info .post-title {
  font-size: 3rem;

  margin: 0;
}

#post .post-info .post-tagline {
  font-size: 1.7rem;
  color: #ddd;
  text-transform: uppercase;
  margin-bottom: 1rem;

  margin: 0;
}

#post .post-info .post-metadata {
  font-size: .8em;

  margin: 0;
}

.post-info .post-taxonomy {
  margin-top: 1em;
  text-align: left;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8em;
  display: inline-block;
}

.post-info .post-taxonomy .post-category {
  display: inline-block;
  margin: 0;
  /* margin-right: -.2em; */
  font-weight: bold;
}

.post-info .post-taxonomy .post-tags {
  display: inline;
  padding: 0;
  padding-right: .5em;
}

.post-info .post-taxonomy .post-tags li {
  display: inline-block;
  list-style: none;
  margin-right: -0.6em;
  font-style: italic;
}

.post-info .post-taxonomy .post-tags,
.post-info .post-taxonomy .css-properties .dimension {
  margin-left: -0.6em;
}

.post-info .post-taxonomy .css-properties {
  margin-left: 2em;
}

@media (max-width: 850px) {
  #post .post-content {
    padding-left: 25px;
  }
}

#post .post-content h1,
#post .post-content h2,
#post .post-content h3,
#post .post-content h4,
#post .post-content h5,
#post .post-content h6 {
  position: relative;
  margin-left: -30px;
  padding-left: 30px;
}

#post .post-content h1 .header-permalink,
#post .post-content h2 .header-permalink,
#post .post-content h3 .header-permalink,
#post .post-content h4 .header-permalink,
#post .post-content h5 .header-permalink,
#post .post-content h6 .header-permalink {
  position: absolute;
  /* box-sizing: content-box; */
  left: 0px;
  top: 50%;

  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAByUlEQVQ4T6XUS6jNURTH8c9FKKVIHnkNZOAtuZkwoTwi73QpEwYYGJnIRCFSMjCSZxlQUpRXIgMmKAOvMjNlQAaeefardaR/1+2crNE5+7/3d6/1W7+1u3Qeo7EPGzAAT3EQ14Lq6pA3FXcwppdzR7GrE+BEPMSogl3FK/RgZK31dALcilN1cA8O1e9xeFRZP+gEOBR78RxnGyUfSbn41AmwL7nPYTPe9gXsh+XVzWR3u0r+0iCvwBX0x8V/ASfjPOY2Dj/BfHyo9WW4jEEpF929AWdWNq3OvU8pmFSQWeW9pQUbjK9YHy82gbMLNgK/ysDp5jdsx3ecwJIqswVbh+tNY88p2HD8xLbSbHGB7laGG3EGgUXPtbjZkqaVYTduYVhlFthJTMGL2pzRGoKF9f8z1tS5P1IHOAGP0SozpaWsRNYyq81Ri6bJ7F7TSwGexpb6sAPHG5vG4gAWlRTRaj9e92bMAN/ULKb9ufW/IsC0fCAOY3eDtgDTSs8f7dwU4DNMx0uk0xE7sSrOr8s24UK7wJ04VpsDvYHxiLcyfh8x769u98lNhpnBS1jdy85MyUrcbye7v40daLyXN28G3iEPaJ72PKJtx2/AUl3ncGhaDQAAAABJRU5ErkJggg==);

  opacity: 0;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;

  display: inline-block;
  font-size: 1rem;
  margin-right: 10px;
}

#post .post-content h1:hover .header-permalink,
#post .post-content h1:target .header-permalink,
#post .post-content h2:hover .header-permalink,
#post .post-content h2:target .header-permalink,
#post .post-content h3:hover .header-permalink,
#post .post-content h3:target .header-permalink,
#post .post-content h4:hover .header-permalink,
#post .post-content h4:target .header-permalink,
#post .post-content h5:hover .header-permalink,
#post .post-content h5:target .header-permalink,
#post .post-content h6:hover .header-permalink,
#post .post-content h6:target .header-permalink {
  opacity: 1;
}

#post .twitter-share-notice {
  margin: 2rem 0;
}

#post .author {
  padding: 1em;
  border-top: #BBDEFB 5px solid;
  background-color: rgba(227, 242, 253, .3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#post .author::after {
  clear: both;
  content: '';
  display: block;
}

#post .author img {
  float: left;
  margin-right: 10px;
}

#post .author .author-name {
  margin-bottom: 1rem;
}

#post .author .author-bio {
  font-size: .8em;
}

#post .post-comments {
  margin-top: 3rem;
}
