---
title:
layout: index
type: pages
---

<ul id="posts">
  {% for post in site.posts %}
    <li>
      <div>
        <a href="{{ post.url }}" class="post-title">{{ post.title }}</a> « <time datetime="{% include functions/date.html date=post.date simple=true %}" class="post-time">{% include functions/date.html date=post.date simple=true %}</time>
        <span class="comments-count">
          <a href="{{post.url}}#disqus_thread" data-disqus-identifier="{{post.url}}" class="plain">0 comentários</a>
        </span>
      </div>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>

{% include disqus_count.html %}
