{% assign author = site.data.authors[page.author] %}

{% if author %}
  <meta property="author" content="{{author.name}}">
{% endif %}

<!-- Open Graph -->
<meta property="og:title" content="{{page.title}} - {{site.title}}" />
<meta property="og:url" content="{{site.url}}{{page.url | append: '/'}}" />

{% if page.type == 'posts' %}
  <meta property="og:type" content="article" />
  {% if author %}
    <meta property="article:author:first_name" content="{{author.name | split: ' ' | first}}">
    <meta property="article:author:last_name" content="{{author.name | split: ' ' | last}}">
    <meta property="article:author:username" content="{{author.twitter}}">
  {% endif %}
  <meta property="article:published_time" content="{{page.date}}">
  <meta property="article:modified_time" content="{{page.date}}">
  <meta property="article:section" content="{{page.category}}">
  <meta property="article:tag" content="{{page.tags | join: ', '}}">
{% else %}
  <meta property="og:type" content="website" />
{% endif %}

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary">

{% if page.type == 'posts' %}
  <meta name="twitter:title" content="{{page.title}} - {{site.title}}">
  <meta name="twitter:url" content="{{site.url}}{{page.url | append: '/'}}">
  <meta name="twitter:description" content="{{page.excerpt | strip_newlines | strip_html | remove: '  ' | truncate: 180, '…'}}">
  {% if author %}
    <meta name="twitter:site" content="@{{author.twitter}}">
    <meta name="twitter:creator" content="@{{author.twitter}}">
  {% endif %}
{% else %}
  <meta name="twitter:site" content="@JDanguilherme">
  <meta name="twitter:creator" content="@JDanguilherme">
  <meta name="twitter:title" content="{{site.title}}">
  <meta name="twitter:url" content="{{site.url}}{{page.url}}">
  <meta name="twitter:description" content="{{site.tagline}}">
{% endif %}
