@import '_variables.css.scss';
@mixin center() {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin center-vertical() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin center-horizontal() {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin transition($properties, $timing, $function) {
  $expressions: '';
  @each $prop in $properties {
    @if $expressions=='' {
      $expressions: #{$prop} #{$timing} #{$function};
    }
    @else {
      $expressions: #{$expressions},
      #{$prop} #{$timing} #{$function};
    }
  }
  transition: $expressions;
}

@mixin media-mobile {
  @media screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin media-tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin media-desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin media-large-desktop {
  @media screen and (min-width: $large-desktop-breakpoint) {
    @content;
  }
}

@mixin media($type) {
  @if $type==small {
    @include media-mobile {
      @content;
    }
  }
  @if $type==tablet {
    @include media-tablet {
      @content;
    }
  }
  @else if $type==desktop {
    @include media-desktop {
      @content;
    }
  }
  @else if $type==large {
    @include media-large-desktop {
      @content;
    }
  }
}

// comment