/*
* Base styles for elements
*/

* {
  box-sizing: border-box;
}

input,
textarea,
keygen,
select,
button {
  font-size: 1em;
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

a {
  color: $link-color;
  text-decoration: underline;
  transition: color .2s;
  .icon {
    transition: fill .2s;
    fill: $link-color;
  }
  &:visited {
    color: $link-visited-color;
    .icon {
      fill: $link-visited-color;
    }
  }
  &:hover,
  &:focus {
    color: $link-active-color;
    .icon {
      fill: $link-active-color;
    }
  }
}

blockquote {
  border-left: $theme-color 5px solid;
  margin-left: 0;
  margin-right: 0;
  color: #333;
  padding: .5rem .5rem .5rem 2em;
  background-color: lighten($theme-color, 95%);
  border-radius: 3px;
  font-style: italic;
  cite {
    display: block;
    cursor: default;
    &::before {
      display: inline;
      content: '— ';
    }
  }
}

abbr {
  cursor: help;
  border-bottom: dotted 1px #ddd;
  transition: border-color .2s;
  &:hover {
    border-bottom-color: #777;
  }
}

.highlight textarea,
code {
  font-family: "Source Code Pro", monospace;
  line-height: 1.5;
  max-height: 20em;
  overflow-y: auto;
}

code {
  padding: 0 3px;
  background-color: #f9f9f9;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  &.hljs {
    white-space: pre-wrap;
  }
}

table {
  margin: 0;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 100%;
  border: '' 1px solid rgba(187, 222, 251, .2);
  border-collapse: collapse;
  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
    background-color: rgba(227, 242, 253, .2);
  }
  td,
  th {
    padding: .5rem .5rem;
    border: 1px solid rgba(187, 222, 251, .2);
  }
  th {
    cursor: default;
    text-align: center;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
  border-radius: 3px;
  text-align: center;
}

dl dt {
  font-weight: bold;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  vertical-align: middle;
}

.header-content,
.footer-content {
  max-width: $max-width;
  padding: 0 1em;
  margin: 0 auto;
}