$max-width: 800px;
$mobile-breakpoint: 500px;
$theme-color: #2196F3;
$text-color: #333;
$link-color: darken($theme-color, 10%);
$link-active-color: darken($theme-color, 20%);
$link-visited-color: darken($theme-color, 25%);