$max-width: 800px;

// based on: http://getbootstrap.com/css/#grid-media-queries
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px;

$theme-color: #2196F3;
$theme-contrast-color: #fff;
$bg-color: #fff;

$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$titles-font-family: 'Raleway', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$header-font-family: 'Dosis', $titles-font-family;

$text-color: #333;
$text-light-color: #666;
$link-color: darken($theme-color, 10%);
$link-visited-color: darken($theme-color, 20%);
$link-active-color: darken($theme-color, 25%);

$padding-spacing: 15px;