@import '_variables.css.scss';
@import '_mixins.css.scss';
@import '_helpers.css.scss';
#sobre {
  max-width: $tablet-breakpoint;
  margin: 0 auto;
  padding: 0 $padding-spacing;
  .avatar {
    text-align: center;
    line-height: 1;
    img {
      display: inline;
    }
  }
  .now-playing {
    display: none;
    &.is-playing {
      display: block;
    }
  }
  @include media(tablet) {
    .avatar {
      float: left;
      margin: 0;
      margin-top: 1rem;
      margin-right: 1rem;
    }
  }
}