@import '_variables.css.scss';
@import '_mixins.css.scss';
$title-max-width: $tablet-breakpoint;
$main-col-width: $tablet-breakpoint;
$aside-col-width: 300px;
$columns-max-width: $main-col-width+$aside-col-width;
#blog-post {
  .share-button {
    position: relative;
    color: $link-color;
    transition: border-color .2s, color .2s;
    white-space: nowrap;
    .icon-share {
      fill: $link-color;
      vertical-align: text-top;
      transition: fill .2s;
    }
    share-button {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: transparent;
      &::before {
        display: none;
      }
    }
    &:hover,
    &:focus {
      color: $link-active-color;
      .icon-share {
        fill: $link-active-color;
      }
    }
  }
  .draft-notice {
    position: relative;
    margin: $padding-spacing;
    margin-top: 0;
    border: $theme-color 1px solid;
    border-radius: 5px;
    header {
      background-color: $theme-color;
      color: $theme-contrast-color;
      padding: $padding-spacing;
      .icon {
        position: absolute;
        top: 5px;
        right: $padding-spacing;
        transform: translateY(-95%) rotate(15deg);
        color: $theme-color;
        font-size: 3rem;
      }
      h3 {
        margin: 0;
      }
    }
    p {
      margin: 0;
      padding: $padding-spacing;
    }
  }
  .header {
    max-width: 1024px; // same size as cover image width in docpad.js
    position: relative;
    margin: 0 auto;
    text-align: center;
    cursor: default;
    .cover {
      margin: 0 auto 1rem;
      border-radius: 0;
    }
    .title {
      max-width: $title-max-width;
      margin: 0 auto;
      line-height: .8;
    }
    .metadata {
      max-width: $title-max-width * .9;
      margin: 0 auto;
      margin-top: .5em;
      padding: 0 $padding-spacing;
      .meta-info {
        display: block;
        text-align: left;
        margin-top: 5px;
        text-decoration: none;
        @include media(tablet) {
          display: inline;
          &:not(:last-child)::after {
            content: ' • ';
            color: $text-color;
          }
          &.comments-anchor,
          &.publishing-date {
            display: inline-block;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .tagline {
    max-width: $columns-max-width;
    margin: 1em auto;
    padding: 0 1em;
    font-size: 1.3rem;
    font-weight: 300;
    color: $text-light-color;
    text-align: center;
  }
  .main-column,
  .aside-column,
  .comments {
    padding: 0 $padding-spacing;
  }
  .columns-container {
    max-width: $columns-max-width;
    .aside-column {
      margin-top: 2rem;
      section {
        margin-bottom: 1rem;
        p {
          margin: 0;
        }
      }
      .title {
        margin: 0;
        margin-bottom: .5em;
        font-size: 1.3em;
        line-height: $base-line-height;
      }
      .about-the-author {
        .avatar {
          float: left;
          margin: 0;
          margin-right: 10px;
        }
        &::after {
          content: '';
          clear: both;
          display: block;
        }
      }
      .related-posts {
        .posts-list {
          margin: 0;
          align-items: stretch;
          justify-content: flex-start;
          .post-brief {
            margin: 0;
            border: none;
            border-radius: 0;
            max-width: 200px;
          }
        }
      }
    }
    @include media(tablet) {
      display: flex;
      align-items: flex-start;
      margin: 0 auto;
      .main-column {
        flex: 1 1 auto;
        min-width: 0;
      }
      .aside-column {
        font-size: .8rem;
        flex: 0 0 $aside-col-width;
        margin-top: 0;
        .related-posts .posts-list .post-brief {
          max-width: none;
        }
      }
    }
    @include media(large) {
      .aside-column {
        flex-basis: ($aside-col-width * 1.3);
      }
    }
  }
  .body {
    >:first-child {
      margin-top: 0;
    }
    hr {
      width: 30%;
      border: 1px solid $theme-color;
    }
    ul {
      padding-left: 1em;
    }
    img {
      margin-bottom: 1rem;
    }
    figure {
      margin: 0;
      margin-bottom: 1rem;
      text-align: center;
      img {
        margin: 0;
      }
      figcaption {
        margin: 0 auto;
        max-width: 90%;
        font-size: .8em;
        color: $text-light-color;
      }
    }
    p img,
    .twitter-tweet {
      margin: 0 auto;
    }
    .gist .gist-data {
      padding: 10px;
    }
    pre.highlight {
      position: relative;
      max-width: 100%;
      background: #3F3F3F;
      code.hljs {
        white-space: pre-wrap;
        border: none;
        border-radius: 0;
        &.copying-code {
          display: none;
        }
      }
      .xml .javascript {
        opacity: 1;
      }
      /**
      * code text area (copying)
      */
      .code-text {
        width: 100%;
        display: block;
        padding: 0.5em;
        white-space: pre-wrap;
        word-wrap: break-word;
        color: #fff;
        border: none;
        background-color: transparent;
        outline: none;
        border-radius: 0;
        resize: none;
      }
      /**
      * left and right colored margin
      */
      &::before,
      &::after {
        position: absolute;
        content: '';
        background-color: #3F3F3F;
        width: 15px;
        top: 0;
        bottom: 0;
      }
      &::before {
        left: -15px;
      }
      &::after {
        right: -15px;
      }
      @include media(tablet) {
        &::before {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
        }
        &::after {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
        }
      }
    }
  }
  .interactions {
    .twitter-share-notice {
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-style: italic;
    }
    #social-share {
      text-align: center;
      padding: $padding-spacing;
      .share-button {
        padding: $padding-spacing;
        border: 1px solid $link-color;
        border-radius: 5px;
        &:hover,
        &:focus {
          border-color: $link-active-color;
        }
      }
    }
  }
  .comments {
    max-width: $main-col-width;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .blog-post-content::after {
    content: '~~~';
    display: block;
    color: darken($bg-color, 15%);
    font-size: 3rem;
    text-align: center;
    margin: 5rem;
    font-weight: 200;
    line-height: 0;
  }
}