@import '_variables.css.scss';
@import '_mixins.css.scss';
@import '_theme.css.scss';

@keyframes footer-links-hover {
  50% {
    transform: translateY(150%);
  }
  51% {
    transform: translateY(-150%);
    fill: $theme-color;
  }
  100% {
    transform: translateY(0);
    fill: $bg-color;
  }
}

@keyframes heartbeat {
  0% { transform: scale( .75 ); }
  20% { transform: scale( 1 ); }
  40% { transform: scale( .75 ); }
  60% { transform: scale( 1 ); }
  80% { transform: scale( .75 ); }
  100% { transform: scale( .75 ); }
}


html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  height: 100%;
  min-height: 100vh;
  background-color: $bg-color;
  &>object {
    display: none;
  }
  @include media(tablet) {
    font-size: $base-font-size * 1.3;
  }
  @include media(large) {
    font-size: $base-font-size * 1.5;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: $text-color;
  // display: flex;
  // flex-direction: column;
}

// main {
//   flex: 1 1 auto;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0;
  font-family: 'Raleway', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1;
}

/*
* HEADER
*/

.site-header {
  background: $theme-color;
  color: $theme-contrast-color;
  padding: .5rem $padding-spacing;
  transition: padding .2s linear;
  @include media(desktop) {
    padding: .5rem 2rem;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  nav {
    ul {
      display: inline-block;
      padding: 0;
      margin: 0;
      cursor: default;
    }
    li {
      display: inline-block;
      padding: 0;
    }
  }
  .site-title,
  .header-menu,
  .header-external-links {
    line-height: 1.5;
  }
  .site-title {
    font-family: 'Dosis', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    margin: 0;
    font-size: 2rem;
    padding-right: 10px;
    position: relative;
    top: -3px;
    transition: font-size .2s linear;
  }
  .header-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    h1 {
      flex: 0 0 auto;
    }
    .header-menu {
      flex: 1 1 auto;
    }
  }
  .header-menu li {
    margin-right: 10px;
  }
  .header-external-links {
    float: right;
    li {
      opacity: 0.5;
      transition: opacity .2s linear;
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
  &::after {
    content: '';
    display: block;
    clear: both;
  }
  &.collapsed {
    padding-top: 5px;
    padding-bottom: 5px;
    .site-title {
      font-size: 1.4rem;
    }
  }
}

/**
* POSTS LIST COMPONENT
*/
.posts-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  text-align: left;
  .post-brief {
    position: relative;
    max-width: 768px; // same size as cover thumb width in docpad.js
    margin-bottom: 1rem;
    border: 1px solid $theme-color;
    border-radius: 5px;
    overflow: hidden;
    transition: background-color .2s linear;
    &:hover,
    &:focus {
      background-color: $theme-color;
      color: $theme-contrast-color;
      .post-lang {
        border-color: $theme-contrast-color;
      }
    }
    a {
      color: inherit;
      text-decoration: none;
    }
    p,
    .post-cover {
      margin: 0;
      border-radius: 0;
    }
    .post-info,
    .post-tagline {
      padding: 0 10px;
    }
    .post-cover {
      background-color: $bg-color;
    }
    .post-lang,
    .post-time {
      font-size: .8em;
    }
    .post-lang {
      display: inline-block;
      padding: 0 2px;
      border: 1px solid $text-color;
      border-radius: 3px;
      transition: border-color .2s linear;
    }
    .post-title {
      margin: 0;
      font-size: 1.3em;
    }
    footer {
      text-align: right;
      .see-post {
        display: inline-block;
        padding: 10px;
        font-weight: bold;
      }
    }
  }
}

// #sobre img {
//   float: left;
//   margin-right: 15px;
//   margin-bottom: 15px;
// }


// /*
// * BODY
// */

// main {
//   header,
//   h1,
//   h2,
//   h3,
//   h4,
//   h5,
//   h6,
//   p,
//   ul,
//   ol,
//   dl,
//   table,
//   div {
//     max-width: $max-width;
//     margin-left: 5px;
//     margin-right: 5px;
//     @media screen and (min-width: $max-width) {
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }
//   @media screen and (min-width: $max-width + 50px) {
//     ul,
//     ol {
//       padding-left: 0;
//       ul,
//       ol {
//         padding-left: 1.5em;
//       }
//     }
//   }

//   #posts-list {
//     padding: 0;
//     cursor: default;
//     li {
//       display: inline-block;
//       margin-bottom: 1em;
//       vertical-align: top;
//       width: 100%;
//       &:nth-child(1) {
//         font-size: 1.2em;
//       }
//       @media screen and (min-width: $mobile-breakpoint) {
//         width: 45%;
//         &:nth-child(even) {
//           margin-left: 2.5%;
//         }
//         &:nth-child(odd) {
//           margin-right: 2.5%;
//         }
//         &:nth-child(2) {
//           font-size: 1.2em;
//         }
//       }
//       time,
//       a,
//       span {
//         display: block;
//       }
//       img {
//         text-align: center;
//         margin: 0 auto;
//       }
//       time {
//         font-size: .8em;
//         color: #aaa;
//       }
//       a {
//         font-weight: bold;
//         text-decoration: none;
//       }
//       span {
//         font-style: italic;
//       }
//     }
//   }
// }
.site-footer {
  position: relative;
  background-color: $theme-color;
  color: $theme-contrast-color;
  margin-top: 3rem;
  padding-bottom: 1rem;
  font-size: .8rem;
  text-align: center;
  a,
  a:visited,
  a:hover,
  &:focus {
    color: $theme-contrast-color;
  }
  .reference-balloons {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
    padding: 0;
    line-height: 0;
    list-style: none;
    font-size: 2rem;
    transform: translateY(-50%);
    @include media(tablet) {
      margin-left: 20%;
      margin-right: 20%;
    }
    @include media(large) {
      margin-left: 30%;
      margin-right: 30%;
    }
    .balloon {
      flex: 1 1 auto;
      a {
        display: inline-block;
        padding: 15px;
        line-height: 0;
        background-color: $bg-color;
        border-radius: 50%;
        overflow: hidden;
        transition: background-color .2s linear;
        &,
        &:visited {
          .icon {
            fill: $theme-color;
          }
        }
        &:hover,
        &:focus {
          background-color: $theme-color;
          .icon {
            animation: footer-links-hover .3s forwards;
          }
        }
      }
    }
  }
  .footer-content {
    p {
      max-width: 400px;
      margin: 0 auto 15px;
    }
    .love {
      display: inline-block;
      vertical-align: middle;
      color: #D70021;
      animation: heartbeat 1s infinite;
      font-size: 2em;

      // heart drawing
      $heart-width: 20px;
      $heart-height: 20px;
      & {
        position: relative;
        width: $heart-width;
        height: $heart-height;
        animation: heartbeat 1s infinite;
      }

      &:before,
      &:after {
        position: absolute;
        content: "";
        left: $heart-width * .5;
        top: 0;
        width: $heart-width  * .5;
        height: $heart-width * .8;
        background: #D70021;
        border-radius: ($heart-width * .5) ($heart-width * .5) 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }

      &:after {
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
      }
    }
  }
}


// /*
// * STYLE FOR PAGES
// */

// // #page
// //   #home

// /*
// * STYLE FOR BLOG POSTS
// */

// #blog-post {
//   article>hr {
//     width: 200px;
//     border: 1px solid $theme-color;
//   }
//   .draft-notice {
//     margin: 1em 0;
//     padding: 1em;
//     border: 1px solid $theme-color;
//     border-radius: 10px;
//     background-color: lighten($theme-color, 95%);
//   }
//   .draft-notice::after {
//     content: ' ';
//     display: block;
//     clear: both;
//   }
//   .draft-notice .icon {
//     float: left;
//     font-size: 4em;
//     fill: $theme-color;
//     margin-right: 5px;
//   }
//   .draft-notice div {
//     margin: 0;
//   }
//   .draft-notice p {
//     margin: 1em 0 0;
//   }
//   .draft-notice p:first-child {
//     margin-top: 0;
//   }
//   .post-comments-anchor {
//     white-space: nowrap;
//     text-decoration: none;
//   }
//   .gist .gist-data {
//     padding: 10px;
//   }
//   .twitter-share-notice {
//     margin-top: 2rem;
//     margin-bottom: 2rem;
//     font-style: italic;
//   }
//   .share-button {
//     position: relative;
//     color: $link-color;
//     transition: border-color .2s, color .2s;
//     white-space: nowrap;
//     .icon-share {
//       fill: $link-color;
//       vertical-align: text-top;
//       transition: fill .2s;
//     }
//     share-button {
//       position: absolute;
//       left: 0;
//       right: 0;
//       top: 0;
//       bottom: 0;
//       background: transparent;
//       &::before {
//         display: none;
//       }
//     }
//     &:hover {
//       color: $link-active-color;
//       .icon-share {
//         fill: $link-active-color;
//       }
//     }
//   }
//   #social-share {
//     text-align: center;
//     padding: 10px;
//     .share-button {
//       padding: 10px;
//       border: 1px solid $link-color;
//       border-radius: 5px;
//       &:hover {
//         border-color: $link-active-color;
//       }
//     }
//   }
//   p img,
//   .twitter-tweet {
//     margin: 0 auto;
//   }
// }