/*
* MIXINS
*/
center-vertical()
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

/*
* BASE
*/
* {
  box-sizing: border-box;
}

html
  font-family Calibri, sans-serif;
  font-size 16px
  line-height 20px

body
  margin 0
  padding 0

/*
* HEADER
*/