<!DOCTYPE html>
<html lang="en">
<head>
  {% include head_content.html %}

  <meta name="description" content="{{post.excerpt | strip_html}}">

  <title>{{page.title}} - Guilherme Ventura</title>
</head>
<body>
  {% include header.html %}

  <article id="post">
    <header class="post-info">
      <h1 class="post-title">{{page.title}}</h1>
      <p class="post-tagline">{{page.tagline}}</p>
      <p class="post-metadata">
        {% comment %}<span class="post-author">{% include functions/author.html author=page.author %}</span>,{% endcomment %}
        <time datetime="{{page.date}}" pubdate="pubdate" class="post-time">
          {% include functions/date.html date=page.date %}
        </time>
        •
        <a href="#disqus_thread" data-disqus-identifier="{{page.url}}" class="plain">0 Comentários</a>

        <div class="post-taxonomy">
          <div class="post-category">#{{page.category}}</div>
          {% if page.tags %}
          <ul class="post-tags">
            {% for tag in page.tags %}
            <li>.{{tag}}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </p>
    </header>

    <section class="post-content">
      {{content}}
    </section>

    {% include twitter_plug.html %}

    <footer class="post-footer">
      {% include author.html author=page.author %}
    </footer>

    <section class="post-comments">
      {% include disqus.html %}
    </section>
  </article>

  {% include footer.html %}
  {% include google_analytics.html %}
  <script type="text/javascript" src="/js/post.js"></script>
</body>
</html>
