<!DOCTYPE html>
<html lang="en">
<head>
  {% include head_content.html %}
  {% assign author = site.data.authors[page.author] %}


  {% assign words = content | number_of_words %}
  {% if words <= 90 %}
  {% assign reading_time = '<span class="count">30</span> <span class="dimension">sec</span>' %}
  {% elsif words < 270 %}
  {% assign reading_time = '<span class="count">1</span> <span class="dimension">min</span>' %}
  {% elsif words < 450 %}
  {% assign reading_time = '<span class="count">2</span> <span class="dimension">min</span>' %}
  {% elsif words < 630 %}
  {% assign reading_time = '<span class="count">3</span> <span class="dimension">min</span>' %}
  {% elsif words < 810 %}
  {% assign reading_time = '<span class="count">4</span> <span class="dimension">min</span>' %}
  {% elsif words < 990 %}
  {% assign reading_time = '<span class="count">5</span> <span class="dimension">min</span>' %}
  {% else %}
  {% assign reading_time = words | divided_by:180 | prepend: '<span class="count">' | append: '</span> <span class="dimension">min</span>' %}
  {% endif %}

  <title>{{page.title}} - Guilherme Ventura</title>
</head>
<body>
  {% include header.html %}

  <article id="post">
    <header class="post-info">
      <h1 class="post-title">{{page.title}}</h1>
      <p class="post-tagline">{{page.tagline}}</p>
      <p class="post-metadata">
        {% comment %}<span class="post-author">{% include functions/author.html author=page.author %}</span>,{% endcomment %}
        <time datetime="{{page.date}}" pubdate="pubdate" class="post-time">
          {% include functions/date.html date=page.date %}
        </time>
        •
        <a href="#disqus_thread" data-disqus-identifier="{{page.url}}" class="plain">0 Comentários</a>

        <div class="post-taxonomy css-rules">
          <div class="post-category id-selector">#{{page.category}}</div>
          {% if page.tags %}
          <ul class="post-tags class-selector">
            {% for tag in page.tags %}
            <li>.{{tag}}</li>
            {% endfor %}
          </ul>
          {% endif %} {
            <div class="css-properties">
              <span class="css-property">read-time</span>: <span class="read-time css-value">{{reading_time}}</span>;
            </div>
          }
          </div>
        </div>
      </p>
    </header>

    <section class="post-content">
      {{content}}
    </section>

    {% include twitter_plug.html %}

    <footer class="post-footer">
      {% include author.html author=page.author %}
    </footer>

    <section class="post-comments">
      {% include disqus.html %}
    </section>
  </article>

  {% include footer.html %}
  {% include google_analytics.html %}
  <script type="text/javascript" src="/js/post.js"></script>
</body>
</html>
